.card_like_btn {
	
}
.btn-like::before,
.btn-like--pressed::before{
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    --c: rgb(131, 120, 120);
    width: 15px;
    aspect-ratio: 1;
    background:
     radial-gradient(at 70% 31%,var(--c) 29%,#0000 30%),
     radial-gradient(at 30% 31%,var(--c) 29%,#0000 30%),
     linear-gradient(var(--c) 0 0) bottom/100% 50% no-repeat;
    clip-path: polygon(-43% 0,50% 91%, 143% 0);
}
.btn-like{
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 8px;
    width: 27%;
    border-radius: 15px;
    transition: 0.5s;
    animation: ease-in-out;
}
.pressed{
    background: red;
    color: white;
}
.btn-like:hover{
    cursor: pointer;
    transform: scale(1.10);
}