.addVacation {
    position: relative;
    width: 40vw;
    border: 1px solid;
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
}

.addVacation .addVacation__input,
.addVacation #btn-submit {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#btn-submit{
    height: 5vh;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: rgb(72, 72, 233);
    color: white;
}
.addVacation__label{
    font-size: large;
    font-weight: 700;
}
.addVacation img {
    width: 250px;
    height: 200px;
  }