.card_admin_btns {
	
}

.btn-image{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    --c: rgb(131, 120, 120);
    width: 17px;
    height: 17px;
    aspect-ratio: 1;
}
.btn-edit{
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 8px;
    background:rgba(14, 220, 25, 0.397);
    color:rgb(255, 253, 253);
    width: 27%;
    border-radius: 15px;
    transition: 0.5s;
    animation: ease-in-out;
}
.navlink-edit {
    color: rgb(134, 121, 121); 
    text-decoration: none; 
}
.react-modal-overlay {
    background: transparent; /* Set background to transparent */
    z-index: 10;
  }
.custom-modal {
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 30%;
    left: 50%;
    background-color: rgba(14, 153, 245, 0.622);
    color: white;
    z-index: 3;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 5px; 
    padding: 20px; 
  }
  
  .button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
  }
  
  .button-container .btn {
    margin: 0 10px; 
    width: 5vw;
    height: 5vh;
    border-radius: 10px;
  }
.btn-yes{
    background: rgb(130, 193, 36);
    color: white
}
.btn-no{
    background: red;
    color: white;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btn-delete{
    position: absolute;
    top: 5px;
    left: 30%;
    color:rgb(250, 250, 250);
    background: rgba(255, 0, 0, 0.723);
    padding: 8px;
    width: 27%;
    border-radius: 15px;
    transition: 0.5s;
    animation: ease-in-out;
}

.btn-edit:hover, .btn-delete:hover{
    cursor: pointer;
    transform: scale(1.10);
}