.Pagination {
	display: flex;
    justify-content: center;
}
.page-item{
    list-style-type: none;
}
.current_page{
    margin: 3px;
    padding: 3px;
    font-weight: 600;
    text-shadow: 0.2rem 0.2rem 1rem black;
    color: rgb(214, 68, 225);
    background: transparent;
    border: transparent;
}
.page-link{
    margin: 3px;
    border: 1px solid #000;
    padding: 3px;
}
.page-link:hover{
    cursor: pointer;
    text-decoration: underline;
}