.Pagination {
	display: flex;
    justify-content: center;
}
.page-item{
    list-style-type: none;
}
.current_page{
    background-color: rgba(0, 0, 0, 0.648);
    color: white;
}
.page-link{
    margin: 3px;
    border: 1px solid #000;
    padding: 3px;
}
.page-link:hover{
    cursor: pointer;
    text-decoration: underline;
}