.cardsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    overflow: auto;
}
.pagination{
    margin-top: 40px;
    bottom: 0;
}