.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: 100%;
}

.Layout>header,
.Layout>footer {
    grid-column: span 6;
}

.Layout>main {
    width: 100%;
    grid-template-rows: repeat(5, 1fr);
    overflow: auto;
}

.Layout,
.Layout>* {
    border: 1px solid;
}